<div class="register">
    <h1 class="auth_title">Register</h1>
    <auth-form class="auth"
        user="$ctrl.user"
        message="{{ $ctrl.error }}"
        button="Create user"
        on-submit="$ctrl.createUser($event);">
    </auth-form>
    <br />
    <div class="registerbox">
        <a ui-sref="auth.login" class="registerlink">
            <md-button md-no-ink class="md-primary">
                Already have an account? Login here.
            </md-button>
        </a>
    </div>
</div>