<div>
    <h1 id="headline_title">Weapons List</h1>
    
    <md-content style="width:600px;">
        <md-tabs class="tabs" md-center-tabs style="width:600px">
            <md-tab label="HP">
                <md-content class="md-padding">
                    <h2 class="health-display">Health</h2>
                    <p class="health-body">
                        The amount of health points your champion has determines how much damage you can receive before dying. The greater your health, the more hits you can take.
                    </p>
                </md-content>
            </md-tab>
            <md-tab label="HP Regen">
                <md-content class="md-padding">
                    <h2 class="health-regen-display">Health Regen</h2>
                    <p class="health-regen-body">
                        For each point of health regeneration, your champion will passively restore that much heaevery 5 seconds.
                    </p>
                </md-content>
            </md-tab>
            <md-tab label="Armor">
                <md-content class="md-padding">
                    <h2 class="armor-display">Armor</h2>
                    <p class="armor-body">
                        Armor enables your champion to take reduced damage from physical attacks. The higher your armor, the less physical damage you will take.
                    </p>
                </md-content>
            </md-tab>
            <md-tab label="MR">
                <md-content class="md-padding">
                    <h2 class="magic-resist-display">Magic Resist</h2>
                    <p class="magic-resist-body">
                        Magic resistance enables your champion to take reduced damage from special attacks such as spells. The higher your magic resistance, the less magical damage damage you will take.
                    </p>
                </md-content>
            </md-tab>
            <md-tab label="AD">
                <md-content class="md-padding">
                    <h2 class="attack-damage-display">Attack Damage</h2>
                    <p class="attack-damage-body">
                        Your champion's attack damage determines how much damage each physical attack will do to your opponent. Some spells that do physical damage also scale off of your attack damage.
                    </p>
                </md-content>
            </md-tab>
            <md-tab label="AS">
                <md-content class="md-padding">
                    <h2 class="attack-speed-display">Attack Speed</h2>
                    <p class="attack-speed-body">
                       The higher your attack speed, the faster your champion will attack his or her opponents. Attack speed reaches a cap at 2.5 attacks per second.
                    </p>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
    
    <form>
        <!-- Drop down using ng-repeat -->
        <div id="selectormenu">
        <p><p id="category">Weapon: </p>
            <label>
                <select id="weapon">
                    <option ng-repeat="weapon in $ctrl.weapons track by $index" value="$ctrl.weaponSelected = $index">{{weapon.name}}</option>
                </select>
            </label>
        </p>
        </div>
    
        <!-- Display stats -->
        <p id="inputboxtop">Health: <input id="health_field" class="statistic" type="number" ng-model=$ctrl.weapons[$ctrl.weaponSelected].health /></p>
        <p id="inputbox">Health Regen: <input id="health_regen_field" class="statistic" type="number" ng-model=$ctrl.weapons[$ctrl.weaponSelected].healthRegen /></p>
        <p id="inputbox">Armor: <input id="armor_field" class="statistic" type="number" ng-model=$ctrl.weapons[$ctrl.weaponSelected].armor /></p>
        <p id="inputbox">Magic Resist: <input id="magic_resist_field" class="statistic" type="number" ng-model=$ctrl.weapons[$ctrl.weaponSelected].magicResist /></p>
        <p id="inputbox">Attack Damage: <input id="attack_damage_field" class="statistic" type="number" ng-model=$ctrl.weapons[$ctrl.weaponSelected].attackDamage /></p>
        <p id="inputboxbottom">Attack Speed: <input id="attack_speed_field" class="statistic" type="number" ng-model=$ctrl.weapons[$ctrl.weaponSelected].attackSpeed /></p>
    
        <!-- Refresh data -->
        <div id="registerbox">
            <button type="button" id="load_data" ng-click="$ctrl.loadData()">Load Data</button>
        
            <!-- Save new data to Parse database -->
            <button type="button" id="save_data" ng-click="$ctrl.saveData($ctrl.weapons[$ctrl.weaponSelected]);">Save Data</button>
        </div>
    </form>
</div>