<div>
    <h1>Weapons List</h1>
    
    <form>
        <label>
            <select id="weapon">
                <option disabled slected value="0">-Choose a Weapon-</option>
                <option value="wRhxC1x7qy">Ravenous Hydra</option>
                <option value="nKO2A15o6X">Titanic Hydra</option>
                <option value="Qh0pFLAD0E">Black Cleaver</option>
                <option value="tZaJFYJUPf">Trinity Force</option>
            </select>
        </label>
    </form>
    
    <p>Health: <input id="health_field" type="text" ng-model=$ctrl.healthValue /><br></p>
    <p>Health Regen: <input id="health_regen_field" type="text" ng-model=$ctrl.healthRegenValue /></p>
    <p>Armor: <input id="armor_field" type="text" ng-model=$ctrl.armorValue /></p>
    <p>Magic Resist: <input id="armor_field" type="text" ng-model=$ctrl.magicResistValue /></p>
    <p>Attack Damage: <input id="attack_damage_field" type="text" ng-model=$ctrl.attackDamageValue /></p>
    <p>Attack Speed: <input id="attack_speed_field" type="text" ng-model=$ctrl.attackSpeedValue /></p>
    
    <button type="button" id="load_data" ng-click="$ctrl.refreshData();"> Load Data</button>
</div>