<div id="drop_down_menus">
        <h1> Try Different Builds </h1>
    
        <!-- Drop downs to select champion, weapon, and armor -->
        <form>
            <label>
                <select id="champion">
                    <option disabled slected value="0">-Choose a Champion-</option>
                    <option value="darius"> Darius </option>
                    <option value="rek_sai"> Rek'Sai </option>
                    <option value="garen"> Garen </option>
                </select>
            </label>
            <label>
                <select id="weapon">
                    <option disabled slected value="0">-Choose a Weapon-</option>
                    <option value="ravenous_hydra">Ravenous Hydra</option>
                    <option value="titanic_hydra">Titanic Hydra</option>
                    <option value="black_cleaver">Black Cleaver</option>
                </select>
            </label>
            <label>
                <select id="armor">
                    <option disabled slected value="0">-Choose Armor-</option>
                    <option value="dead_mans_plate">Dead Man's Plate</option>
                    <option value="sunfire_cape">Sunfire Cape</option>
                    <option value="spirit_visage">Spirit Visage</option>
                </select>
            </label>  
            <button type="button" id="simulate" ng-click="$ctrl.refreshData();"> Simulate </button>
        </form>
</div>
<hr />


<!-- Display for Champion Stats that updates when 'Simulate' is pressed -->
<div id="display_stats">
    <p>Health: <input id="health_field" type="text" ng-model=$ctrl.health /><br></p>
    <p>Armor: <input id="armor_field" type="text" ng-model=$ctrl.armor /><br></p>
    <p>Magic Resist: <input id="magic_resist_field" type="text" ng-model=$ctrl.magic_resist /><br></p>
    <p>Attack Damage: <input id="attack_damage_field" type="text" ng-model=$ctrl.attack_damage /><br></p>
</div>