@import url(http://fonts.googleapis.com/css2?family=Metal+Mania&family=Quicksand);

h1 {
    font-family: "Metal Mania";
    font-size: 30pt;
    text-align: center;
}

p {
    text-align: center;
}

/* Creating Borders for Images */
.darius_img {
    display: block;
    background-color: darkgrey;
    margin: 0;
    padding: 15px;
}

.garen_img {
    display: block;
    background-color: royalblue;
    margin: 0;
    padding: 15px;
}

.rek_sai_img {
    display: block;
    background-color: darkblue;
    margin: 0;
    padding: 15px;
}

.link_label {
    font-family: "Metal Mania", cursive;
    font-size: 20pt;
    margin: 0;
}

.link_label a {
    text-decoration: none;
    display: block;
    color: white;
}

/* Changing Color of Link Based on Mouse Hovering */
.link_label a[href*="darius"] {
    background-color: darkred;
}

.link_label a[href*="darius"]:hover {
    background-color: indianred;
}

.link_label a[href*="garen"] {
    background-color: dimgrey;
}

.link_label a[href*="garen"]:hover {
    background-color: darkgrey;
}

.link_label a[href*="rek_sai"] {
    background-color: rebeccapurple;
}

.link_label a[href*="rek_sai"]:hover {
    background-color: mediumpurple;
}


/* Using CSS Grid to Align Images */
.nav_grid {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0px;
    width: 100%;
    display: grid;
    /* Define the auto row size */
    grid-auto-rows: 270px;
    /* Define the columns */
    grid-template-columns: repeat(auto-fill, minmax(365px, 1fr));
    grid-gap: 1em;
}