<form name="authForm" novalidate ng-submit="$ctrl.submitForm();">
    <p id="authboxtop"><label>
        <input
            type="email"
            name="email"
            required="required"
            placeholder="Email"
            ng-model="$ctrl.user.email">
    </label></p>
    <p id="authbox"><label>
        <input
            type="username"
            name="username"
            required="required"
            placeholder="Username"
            ng-model="$ctrl.user.username">
    </label></p>
    <p id="authboxbottom"><label>
        <input
            type="password"
            name="password"
            required="required"
            placeholder="Password"
            ng-model="$ctrl.user.password">
    </label></p>
    <br />
    <div class="authsubmit">
        <button id="authsubmit" type="submit" ng-disabled="authForm.$invalid" name="submitbutton" id="loginbutton">
            {{ $ctrl.button }}
        </button>
    </div>
    <br />
    <div ng-if="$ctrl.message">
        {{ $ctrl.message }}
    </div>
</form>