<html>
<head>
    <link href="../../sass/styles.css" type="text/css" rel="stylesheet" />  
</head>

<form name="authForm" novalidate ng-submit="$ctrl.submitForm();">
    <label id="loginfield">
        <input
            type="email"
            name="email"
            required="required"
            placeholder="Email"
            ng-model="$ctrl.user.email">
    </label>
    <label id="loginfield">
        <input
            type="username"
            name="username"
            required="required"
            placeholder="Username"
            ng-model="$ctrl.user.username">
    </label>
    <label id="loginfield">
        <input
            type="password"
            name="password"
            required="required"
            placeholder="Password"
            ng-model="$ctrl.user.password">
    </label>
    <br />
    <div class="auth-submit">
        <button type="submit" ng-disabled="authForm.$invalid" name="submitbutton" id="loginbutton">
            {{ $ctrl.button }}
        </button>
    </div>
    <br />
    <div ng-if="$ctrl.message">
        {{ $ctrl.message }}
    </div>
</form>
    
</html>