<div>
    <h1>Champions List</h1>
    
    <form>
        <!-- Drop down using ng-repeat -->
        <p>Champion: 
            <label>
                <select id="champion">
                    <option ng-repeat="champion in $ctrl.champions track by $index" value="$ctrl.championSelected = $index">{{champion.name}}</option>
                </select>
            </label>
        </p>
        
        <!-- Dynamic level counter -->
        <p>Level:
        <button type="button" ng-click="$ctrl.level = $ctrl.decrement();">-</button>
        <input type="text" ng-model="$ctrl.level">
        <button type="button" ng-click="$ctrl.level = $ctrl.increment();">+</button>
        </p>
    
        <!-- Display stats -->
        <p>Health: <input id="health_field" type="number" ng-model=$ctrl.champions[$ctrl.championSelected].health /></p>
        <p>Health Regen: <input id="health_regen_field" type="number" ng-model=$ctrl.champions[$ctrl.championSelected].healthRegen /></p>
        <p>Armor: <input id="armor_field" type="number" ng-model=$ctrl.champions[$ctrl.championSelected].armor /></p>
        <p>Magic Resist: <input id="magic_resist_field" type="number" ng-model=$ctrl.champions[$ctrl.championSelected].magicResist /></p>
        <p>Attack Damage: <input id="attack_damage_field" type="number" ng-model=$ctrl.champions[$ctrl.championSelected].attackDamage /></p>
        <p>Attack Speed: <input id="attack_speed_field" type="number" ng-model=$ctrl.champions[$ctrl.championSelected].attackSpeed /></p>
        
        <!-- Refresh data -->
        <button type="button" id="load_data" ng-click="$ctrl.loadData()">Load Data</button>
    
        <!-- Save new data to Parse database -->
        <button type="button" id="save_data" ng-click="$ctrl.saveData($ctrl.champions[$ctrl.championSelected]);">Save Data</button>
    </form>
    
    <br />
    <h1>Create Your Own Champion</h1>
    
    <!-- Template to create a new Parse Champion object -->
    <form>
        <p>Name: <input id="new_name" type="text" /></p>
        <p>Health: <input id="new_hp" type="number" /></p>
        <p>Health Per Level: <input id="new_hp_lv" type="number" /></p>
        <p>Health Regen: <input id="new_hp_regen" type="number" /></p>
        <p>Health Regen Per Level: <input id="new_hp_regen_lv" type="number" /></p>
        <p>Armor: <input id="new_armor" type="number" /></p>
        <p>Armor Per Level: <input id="new_armor_lv" type="number" /></p>
        <p>Magic Resist: <input id="new_mr" type="number" /></p>
        <p>Magic Resist Per Level: <input id="new_mr_lv" type="number" /></p>
        <p>Attack Damage: <input id="new_ad" type="number" /></p>
        <p>Attack Damage Per Level: <input id="new_ad_lv" type="number" /></p>
        <p>Attack Speed: <input id="new_as" type="number" /></p>
        <p>Attack Speed Per Level: <input id="new_as_lv" type="number" /></p>
        
        <button type="button" id="new_champion" ng-click="$ctrl.newChamp();">Create New Champion</button>
    </form>
</div>